
body {
    background-color:black;
    color: white;
    font-family:Arial;

}
h1{
    color:grey;
  font-family: Verdana;
}

.maindiv{
  background-color: white;
  color: black;
  width: 488px;
  padding: 20px;
  height: 219px;
  border-radius: 25px;
  margin: auto;
}


#principal{
  margin-left: 81px;
}
#rate{
  margin-left: 102px;
}
#years{
  margin-left: 49px;
}
footer{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
}